{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seguimientos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Fechaseguimiento</th>
                <th>Fechacreacion</th>
                <th>Fechamodificacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seguimiento in seguimientos %}
            <tr>
                <td><a href="{{ path('seguimiento_show', { 'id': seguimiento.id }) }}">{{ seguimiento.id }}</a></td>
                <td>{{ seguimiento.descripcion }}</td>
                <td>{% if seguimiento.fechaSeguimiento %}{{ seguimiento.fechaSeguimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{% if seguimiento.fechaCreacion %}{{ seguimiento.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if seguimiento.fechaModificacion %}{{ seguimiento.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('seguimiento_show', { 'id': seguimiento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('seguimiento_edit', { 'id': seguimiento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seguimiento_new') }}">Create a new seguimiento</a>
        </li>
    </ul>
{% endblock %}
