{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seguimiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seguimiento.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ seguimiento.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechaseguimiento</th>
                <td>{% if seguimiento.fechaSeguimiento %}{{ seguimiento.fechaSeguimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if seguimiento.fechaCreacion %}{{ seguimiento.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{% if seguimiento.fechaModificacion %}{{ seguimiento.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seguimiento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('seguimiento_edit', { 'id': seguimiento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
