{% trans_default_domain 'FOSUserBundle' %}
{% import "default/components/forms.html.twig" as forms %}
<div class="col-sm-offset-2 col-sm-8" style="margin-top: 150px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Modificar datos de Perfil</h3>
        </div>
        <div class="panel-body">

            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-horizontal' } }) }}

            {{forms.input(form.username)}}
            {{forms.input(form.email)}}
            {{forms.input(form.current_password)}}
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-default" type="submit" value="Editar" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
