{% trans_default_domain 'FOSUserBundle' %}
<div class="col-sm-offset-2 col-sm-8" style="margin-top: 150px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Datos de perfil</h3>
        </div>
        <div class="panel-body">
            <div class="fos_user_user_show">
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            </div>
        </div>
    </div>
</div>
