{% extends 'base.html.twig' %}

{% block center %}
    <div id="center" title="Crear Incidencia">   
        {%include 'default/partials/comunidadForm.html.twig' %}
    </div>
{%endblock%}
{%block  javascripts %} 
    {{parent()}}

    <script>

        $('#left').puipanel();
        $('#info').puigrowl();
        $('#center').puipanel();
        $('#avisos1').puipanel();
        $('#avisos2').puipanel();
        $('#mb1').puimenubar();
        $('#pm').puipanelmenu();
        
        $('#icomunidad_crear').puibutton({icon: 'fa-save'});      

        $('input').each(function () {
            $(this).puiinputtext();
            ;
        });       

    </script>
{%endblock%}

