{% extends 'base.html.twig' %}

{% block center %}
    <div id="center" title="Crear Incidencia">   
        {%include 'default/partials/incidenciaForm.html.twig' %}
    </div>
{%endblock%}
{%block  javascripts %} 
    {{parent()}}

    <script>

        $('textarea').puiinputtextarea();
        $('#left').puipanel();
        $('#info').puigrowl();
        $('#center').puipanel();
        $('#avisos1').puipanel();
        $('#avisos2').puipanel();
        $('#mb1').puimenubar();
        $('#pm').puipanelmenu();
        $(".js-datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
             dateFormat: "yy-mm-dd"
        });
        $('#incidencia_crear').puibutton({icon: 'fa-save'});
        $('#incidencia_resuelta').puicheckbox();

        $('input').each(function () {
            $(this).puiinputtext();
            ;
        });
        $('.remote').autocomplete({
            source: function (request, response) {
                //in a real application, make a call to a remote url by passing the request.query as parameter
                $.ajax({
                    type: "GET",
                    url: '/api-inc/web/app_dev.php/api/comunidades',
                    data: {query: request.term},
                    dataType: "json",
                    context: this,
                    success: function (data) {
                        var filtered = [];
                        for (var i = 0; i < data.length; i++) {
                            nombre = data[i].c_nombre;
                            if (nombre.indexOf(request.term.toUpperCase()) === 0) {
                                filtered.push(nombre);
                            }
                        }
                        response(filtered);
                    }
                });
            }
        });

    </script>
{%endblock%}

