<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}


            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
            <link rel="stylesheet" href=" http://code.jquery.com/ui/1.12.1/themes/vader/jquery-ui.css" />  
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css" >
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" >

            {% stylesheets 'bundles/app/css/style.css'  %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% import "default/components/forms.html.twig" as forms %}

        {% block body %}    
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        {% if is_granted('ROLE_SUPER_ADMIN') == true %}
                            {% block left %}
                                {%include 'default/partials/left.html.twig' %}
                            {%endblock%}
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-md-8">
                        {% if is_granted('ROLE_SUPER_ADMIN') == true %}
                            {%include 'default/partials/menu.html.twig'%}
                        {% endif %}
                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="flash-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        {% block center %}
                            {%include 'default/partials/center.html.twig' %}
                        {%endblock%}
                    </div>
                    <div class="col-sm-12 col-md-2">
                        {% if is_granted('ROLE_SUPER_ADMIN') == true %}
                            {% block right %}
                                {%include 'default/partials/right.html.twig' %}
                            {%endblock%}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
            <script   src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
            {% javascripts '@AppBundle/Resources/public/js/jquery-dateFormat.min.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}



        {% endblock %}
    </body>
</html>
