
{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Editar Teléfono</div>
        <div class="panel-body">            



            {{form_start(edit_form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary"  type="submit" value="Edit" />
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.telefono, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(edit_form.telefono,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.telefono) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.nota, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.nota,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.nota) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.tipo, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(edit_form.tipo,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.tipo) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.marcada, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-1">
                    {{ form_widget(edit_form.marcada,{'attr': {'class': ''}}) }}
                    {{ form_errors(edit_form.marcada) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.incidenciaId, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(edit_form.incidenciaId,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.incidenciaId) }}
                </div>
            </div>
           
        </div>



        {{ form_end(edit_form) }}
        <div class="panel-footer">
            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-primary" href="{{ path('telefono_index') }}">Back to the list</a>
                <input  class="btn btn-warning" type="submit" value="Delete">
            </div>
            {{ form_end(delete_form) }}

        </div>
    </div>

{% endblock %}


{%block  javascripts %} 
    {{parent()}}

    <script>     

       
    </script>
{%endblock%}


