{% extends 'base.html.twig' %}

{% block center %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"> 
            <div class="pull-right"><h4>Teléfonos</h4></div>
            <div class="btn-group" role="group" aria-label="...">
                <a  class="btn btn-success" href="{{ path('incidencia_new') }}">Crear Incidencia</a>
                <a  class="btn btn-warning" href="{{ path('comunidad_new') }}">Crear Comunidad</a>
                <a  class="btn btn-primary" href="{{ path('persona_new') }}">Crear Persona</a>
            </div>
        </div>
        <div class="panel-body">            
        </div>  


        <table id="telefonosTable" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Telefono</th>
                    <th>Tipo</th>
                    <th>Nota</th>
                   <th>Incidencia</th>
                    <th>Persona</th>
                    <th>Empresa</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for telefono in telefonos %}
                    <tr>
                        <td><a href="{{ path('telefono_show', { 'id': telefono.id }) }}">{{ telefono.id }}</a></td>
                        <td>{{ telefono.telefono }}</td>
                        <td>{{ telefono.tipo }}</td>
                        <td>{{ telefono.nota }}</td>
                        <td>{{ telefono.incidenciaId }}</td>

                        <td>{{ telefono.personaId }}</td>
                        <td>{{ telefono.empresaId }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="#" class="btn btn-default btn-sm">Acciones</a>
                                <a href="#" class="btn btn-default btn-sm sdropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('telefono_show', { 'id': telefono.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('telefono_edit', { 'id': telefono.id }) }}">edit</a>
                                    </li>

                                </ul>
                            </div>                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <ul>
        <li>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            $('#telefonosTable').DataTable();
        });
    </script>


{% endblock %}
