{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Incidencia</div>
        <div class="panel-body">    


            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ telefono.id }}</td>
                    </tr>
                    <tr>
                        <th>Telefono</th>
                        <td>{{ telefono.telefono }}</td>
                    </tr>
                    <tr>
                        <th>Tipo</th>
                        <td>{{ telefono.tipo }}</td>
                    </tr>
                    <tr>
                        <th>Nota</th>
                        <td>{{ telefono.nota }}</td>
                    </tr>
                    <tr>
                        <th>Marcada</th>
                        <td>{% if telefono.marcada %}Yes{% else %}No{% endif %}</td>
                    </tr>
                     <tr>
                        <th>Incidencia</th>
                        <td>{{ telefono.incidenciaId }}</td>
                    </tr>
                    <tr>
                        <th>Personaid</th>
                        <td>{{ telefono.personaId }}</td>
                    </tr>
                    <tr>
                        <th>Empresaid</th>
                        <td>{{ telefono.empresaId }}</td>
                    </tr>
                    <tr>
                        <th>Fechacreacion</th>
                        <td>{% if telefono.fechaCreacion %}{{ telefono.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechamodificacion</th>
                        <td>{% if telefono.fechaModificacion %}{{ telefono.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>

            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" href="{{ path('telefono_index')}}">Back to the list</a>
                <a class="btn btn-primary" href="{{ path('telefono_edit', { 'id': telefono.id }) }}">Edit</a>
                <input class="btn btn-warning" type="submit" value="Delete">
            </div>
            {{ form_end(delete_form) }}

        </div>
    </div>

{% endblock %}
