{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Editar Incidencia</div>
        <div class="panel-body">            



            {{form_start(edit_form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary"  type="submit" value="Edit" />
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.nombre, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.nombre,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.nombre) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.direccion, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.direccion,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.direccion) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.presidente, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.presidente,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.presidente) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.cif, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.cif,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.cif) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.cuenta, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.cuenta,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.cuenta) }}
                </div>
            </div>    
            {{ form_end(edit_form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_start(delete_form) }}
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-default" href="{{ path('comunidad_index') }}">Back to the list</a>
                        <input  class="btn btn-warning" type="submit" value="Delete">
                    </div>
                    {{ form_end(delete_form) }}
                </div>
            </div>  
        </div>


    </div>


{% endblock %}

