{% extends 'base.html.twig' %}

{% block center %}
    {{parent()}}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"> 
            <div class="pull-right"><h4>Comunidades</h4></div>
                        {%include 'default/partials/menucenter.html.twig'%}

            
        </div>
        <div class="panel-body">            
        </div>  
        <table id="comunidadTable" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Presidente</th>
                    <th>Cif</th>
                    <th>Cuenta</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for comunidad in comunidads %}
                    <tr>
                        <td><a href="{{ path('comunidad_show', { 'id': comunidad.id }) }}">{{ comunidad.id }}</a></td>
                        <td>{{ comunidad.nombre }}</td>
                        <td>{{ comunidad.direccion }}</td>
                        <td>{{ comunidad.presidente }}</td>
                        <td>{{ comunidad.cif }}</td>
                        <td>{{ comunidad.cuenta }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="#" class="btn btn-default btn-sm">Acciones</a>
                                <a href="#" class="btn btn-default btn-sm sdropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('comunidad_show', { 'id': comunidad.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('comunidad_edit', { 'id': comunidad.id }) }}">edit</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            $('#comunidadTable').DataTable();
        });
    </script>


{% endblock %}
