{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Editar Comunidad</div>
        <div class="panel-body">   
            {{form_start(form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <div class="btn-group" role="group" aria-label="...">
                        <input class="btn btn-primary"  type="submit" value="Crear" />
                        <a class="btn btn-default" href="{{ path('comunidad_index') }}">Back to the list</a>

                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.nombre, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.nombre,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.nombre) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.direccion, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.direccion,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.direccion) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.presidente, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.presidente,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.presidente) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.cif, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.cif,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.cif) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.cuenta, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.cuenta,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.cuenta) }}
                </div>
            </div>    
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

