{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Incidencia</div>
        <div class="panel-body">  

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ comunidad.id }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ comunidad.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Direccion</th>
                        <td>{{ comunidad.direccion }}</td>
                    </tr>
                    <tr>
                        <th>Presidente</th>
                        <td>{{ comunidad.presidente }}</td>
                    </tr>
                    <tr>
                        <th>Cif</th>
                        <td>{{ comunidad.cif }}</td>
                    </tr>
                    <tr>
                        <th>Cuenta</th>
                        <td>{{ comunidad.cuenta }}</td>
                    </tr>
                    <tr>
                        <th>Marcada</th>
                        <td>{% if comunidad.marcada %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechacreacion</th>
                        <td>{% if comunidad.fechaCreacion %}{{ comunidad.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechamodificacion</th>
                        <td>{% if comunidad.fechaModificacion %}{{ comunidad.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" href="{{ path('comunidad_index') }}">Back to the list</a>
                <a class="btn btn-primary" href="{{ path('comunidad_edit', { 'id': comunidad.id }) }}">Edit</a>
                <input class="btn btn-warning" type="submit" value="Delete">
            </div>
            {{ form_end(delete_form) }}


        </div>
    </div>
{% endblock %}
