{% extends 'base.html.twig' %}
{% import "default/components/forms.html.twig" as forms %}
{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Editar Aviso</div>
        <div class="panel-body">            

            {{form_start(edit_form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info">
                        <span class="glyphicon glyphicon-trash"></span> Editar
                    </button>                  

                    <a  class="btn btn-warning" href="{{ path('aviso_index_trash', { 'id': aviso.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{%if aviso.eliminado == true%} Restaurar{%else%} Papelera{%endif%} </a>
                    <a  class="btn btn-primary" href="{{ path('aviso_index_resolve', { 'id': aviso.id }) }}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>{%if aviso.marcada == true%} Activar{%else%} Resolver{%endif%}</a>
                    <a class="btn btn-success" href="{{ path('aviso_index') }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Back to the list</a>

                </div>
            </div>



            {{forms.input(edit_form.nombre)}}
            {{forms.input(edit_form.descripcion, "textarea")}}
            {{forms.input(edit_form.prioridad)}}
            {{forms.input(edit_form.fechaAviso, "date")}}
            {{forms.input(edit_form.incidenciaId)}}        



        </div>



        {{ form_end(edit_form) }}
        <div class="panel-footer">
            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
                <input  class="btn btn-danger" type="submit" value="Borrar Completamente" onclick="return confirm('Seguro que quieres borrar definitivamente el registro');return false;">
            </div>
            {{ form_end(delete_form) }}

        </div>
    </div>

{% endblock %}


{%block  javascripts %} 
    {{parent()}}

    <script>


        $(".js-datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd"
        });


    </script>

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
{%endblock%}
