{% extends 'base.html.twig' %}
{% import "default/components/forms.html.twig" as forms %}


{% block center %}
    {{parent()}}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"> 
            <div class="pull-right"><h4>Avisos</h4></div>
            {%include 'default/partials/menucenter.html.twig'%}
            <div class="pull-right btn-group" style="margin-right: 15px" role="group" aria-label="...">
                <a  class="btn btn-info btn-sm" href="{{ path('aviso_index') }}"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> </a>
                <a  class="btn btn-danger btn-sm" href="{{ path('aviso_index_deleted') }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a>
                <a  class="btn btn-warning btn-sm" href="{{ path('aviso_index_resolved') }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </a>

            </div>

        </div>
        <div class="panel-body">            
        </div>  
        <div class="table-responsive">
            <table id="avisoTable" class="table compact display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Actions</th>
                        <th>Nombre</th>
                        <th style="display:none">Descripcion</th>
                        <th>Prioridad</th>
                        <th>Fechaaviso</th>

                    </tr>
                </thead>
                <tbody>
                    {% for aviso in avisos %}
                        {{forms.rowTableStyle(aviso.prioridad )}}

                            <td style="width: 5%"><a href="{{ path('aviso_show', { 'id': aviso.id }) }}">{{ aviso.id }}</a></td>
                            <td style="width: 10%">
                                {%include 'default/partials/dropdownAviso.html.twig'%}
                            </td>
                            <td>{{ aviso.nombre }}</td>
                            <td style="display:none">{{ aviso.descripcion }}</td>
                            <td>{{ aviso.prioridad }}</td>
                            <td>{% if aviso.fechaAviso %}{{ aviso.fechaAviso|date('Y-m-d') }}{% endif %}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>   
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            $('#avisoTable').DataTable({
                "scrollY": "600px",
                "scrollCollapse": true,
                "order": [[ 5, "desc" ]]
            });
        });
    </script>


{% endblock %}

