{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Aviso {{ aviso.id }}</div>
        <div class="panel-body">    


            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ aviso.id }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ aviso.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Descripcion</th>
                        <td>{{ aviso.descripcion|raw }}</td>
                    </tr>
                    <tr>
                        <th>Prioridad</th>
                        <td>{{ aviso.prioridad }}</td>
                    </tr>
                    <tr>
                        <th>Marcada</th>
                        <td>{% if aviso.marcada %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Eliminado</th>
                        <td>{% if aviso.eliminado %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechaaviso</th>
                        <td>{% if aviso.fechaAviso %}{{ aviso.fechaAviso|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechacreacion</th>
                        <td>{% if aviso.fechaCreacion %}{{ aviso.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechamodificacion</th>
                        <td>{% if aviso.fechaModificacion %}{{ aviso.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Incidencia</th>
                        <td><a href="{{path('incidencia_show',{'id':aviso.incidenciaId})}}">{{ aviso.incidenciaId }}</a></td>
                    </tr>
                   
                </tbody>
            </table>
            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" href="{{ path('aviso_index') }}">Back to the list</a>
                <a class="btn btn-primary" href="{{ path('aviso_edit', { 'id': aviso.id }) }}">Edit</a>
                <input class="btn btn-warning" type="submit" value="Delete">
            </div>
            {{ form_end(delete_form) }}

        </div>
    </div>

{% endblock %}
