{% extends 'base.html.twig' %}
{% import "default/components/forms.html.twig" as forms %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Editar Tarea</div>
        <div class="panel-body">            



            {{form_start(edit_form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary"  type="submit" value="Edit" />
                </div>
            </div>

            {{forms.input(edit_form.nombre)}}
            {{forms.input(edit_form.descripcion, "textarea")}}
            {{forms.input(edit_form.prioridad)}}
            {{forms.input(edit_form.orden)}}
            {{forms.input(edit_form.marcada, "check")}}
            {{forms.input(edit_form.eliminado, "check")}}
            {{forms.input(edit_form.realizada, "check")}}
            {{forms.input(edit_form.fechaTarea, "date")}}


        </div>



        {{ form_end(edit_form) }}
        <div class="panel-footer">
            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-primary" href="{{ path('tarea_index') }}">Back to the list</a>
                <input  class="btn btn-warning" type="submit" value="Delete" onclick="return confirm('Seguro que quieres borrar definitivamente el registro');return false;">
            </div>
            {{ form_end(delete_form) }}

        </div>
    </div>

{% endblock %}

{%block  javascripts %} 
    {{parent()}}

    <script>



        $(".js-datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd"
        });


    </script>
     <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
{%endblock%}
