{% extends 'base.html.twig' %}
{% import "default/components/forms.html.twig" as forms %}


{% block center %}
    {{parent()}}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"> 
            <div class="pull-right"><h4>Listado de Tareas</h4></div>
            {%include 'default/partials/menucenter.html.twig'%}
             <div class="pull-right btn-group btn-sm" style="margin-right: 15px" role="group" aria-label="...">
                <a  class="btn btn-info btn-sm" href="{{ path('tarea_index') }}"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> </a>
                <a  class="btn btn-danger btn-sm" href="{{ path('tarea_index_deleted') }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a>
                <a  class="btn btn-warning btn-sm" href="{{ path('tarea_index_resolved') }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </a>

            </div>

        </div>
        <div class="panel-body">            
        </div>  
        <div class="table-responsive">
            <table id="tareaTable" class="table compact display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>
                           Acciones
                        </th>
                        <th>Breve</th>
                        <th>Prioridad</th>
                        <th>Orden</th>
                        <th>Realizada</th>
                        <th>Fechatarea</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea in tareas %}
                         {{forms.rowTableStyle(tarea.prioridad,tarea.marcada )}}
                            <td style="width: 5%"><a href="{{ path('tarea_show', { 'id': tarea.id }) }}">{{ tarea.id }}</a></td>
                            <td> {%include 'default/partials/dropdownTarea.html.twig'%}</td>
                            <td>{{ tarea.nombre }}</td>
                            <td>{{ tarea.prioridad }}</td>
                            <td>{{ tarea.orden }}</td>
                            <td>{% if tarea.realizada %}Yes{% else %}No{% endif %}</td>
                            <td>{% if tarea.fechaTarea %}{{ tarea.fechaTarea|date('Y-m-d') }}{% endif %}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            $('#tareaTable').DataTable({
                "scrollY": "400px",
                "scrollCollapse": false,
                "order": [[ 6, "desc" ]]
            });
        });
    </script>


{% endblock %}
