{% extends 'base.html.twig' %}
{% import "default/components/forms.html.twig" as forms %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Editar Tarea</div>
        <div class="panel-body">            



            {{form_start(form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <div class="btn-group" role="group" aria-label="...">
                        <input class="btn btn-primary"  type="submit" value="Crear" />
                        <a class="btn btn-default" href="{{ path('tarea_index') }}">Back to the list</a>

                    </div>
                </div>
            </div>

            {{forms.input(form.nombre)}}
            {{forms.input(form.descripcion, "textarea")}}
            {{forms.input(form.prioridad)}}
            {{forms.input(form.orden)}}
            {{forms.input(form.marcada, "check")}}
            {{forms.input(form.eliminado, "check")}}
            {{forms.input(form.realizada, "check")}}
            {{forms.input(form.fechaTarea, "date")}}


        </div>



        {{ form_end(form) }}

    </div>

{% endblock %}

{%block  javascripts %} 
    {{parent()}}

    <script>



        $(".js-datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd"
        });


    </script>
     <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
{%endblock%}
