{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Tarea {{tarea.id}}</div>
        <div class="panel-body">    


            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ tarea.id }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ tarea.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Descripcion</th>
                        <td>{{ tarea.descripcion|raw }}</td>
                    </tr>
                    <tr>
                        <th>Prioridad</th>
                        <td>{{ tarea.prioridad }}</td>
                    </tr>
                    <tr>
                        <th>Orden</th>
                        <td>{{ tarea.orden }}</td>
                    </tr>
                    <tr>
                        <th>Marcada</th>
                        <td>{% if tarea.marcada %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Eliminado</th>
                        <td>{% if tarea.eliminado %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Realizada</th>
                        <td>{% if tarea.realizada %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechatarea</th>
                        <td>{% if tarea.fechaTarea %}{{ tarea.fechaTarea|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechacreacion</th>
                        <td>{% if tarea.fechaCreacion %}{{ tarea.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechamodificacion</th>
                        <td>{% if tarea.fechaModificacion %}{{ tarea.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Incidenciaid</th>
                        <td>{{ tarea.incidenciaId }}</td>
                    </tr>
                </tbody>
            </table>
            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" href="{{ path('tarea_index') }}">Back to the list</a>
                <a class="btn btn-primary" href="{{ path('tarea_edit', { 'id': tarea.id }) }}">Edit</a>
                <input class="btn btn-warning" type="submit" value="Delete">
            </div>
            {{ form_end(delete_form) }}

        </div>
    </div>

{% endblock %}
