<div id="dlg" title="Crear/Editar Incidencias" >
    {{ form_start(formC) }}
    <div class="ui-grid ui-grid-responsive">
        <div class="ui-grid-row">

            <div class="ui-grid-col-3">{{ form_widget(formC.crear) }}</div>   
            <div class="ui-grid-col-1"><a href="#">Volver</a></div>   
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formC.nombre) }}</label>
                {{ form_errors(formC.nombre) }}

            </div>
            <div class="ui-grid-col-10">{{ form_widget(formC.nombre) }}</div>  
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formC.direccion) }}</label>
                {{ form_errors(formC.direccion) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formC.direccion) }}</div>   
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formC.presidente) }}</label>
                {{ form_errors(formC.presidente) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formC.presidente) }}</div>  
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formC.cif) }}</label>
                {{ form_errors(formC.cif) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formC.cif) }}</div>   

        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formC.cuenta) }}</label>
                {{ form_errors(formC.cuenta) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formC.cuenta) }}</div>   

        </div>     
    </div>
    {{ form_end(formC) }}
</div>






