<div class="btn-group">
    <a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
    <a href="#" class="btn btn-default btn-xs sdropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a  href="{{ path('incidencia_show', { 'id': incidencium.i_id }) }}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Detalles</a>
        </li>
        <li>
            <a  href="{{ path('incidencia_edit', { 'id': incidencium.i_id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a>
        </li>
        <li>
            <a  href="{{ path('incidencia_add_seguimiento', { 'id': incidencium.i_id }) }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Seguimiento</a>
        </li>
        <li>
            <a  href="{{ path('incidencia_add_aviso', { 'id': incidencium.i_id }) }}"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Create Aviso</a>
        </li>
        <li>
            <a  href="{{ path('incidencia_index_mark', { 'id': incidencium.i_id }) }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{%if incidencium[0].marcada == true%} Desmarcar{%else%} Marcar{%endif%}</a>
        </li>

        <li>
            <a  href="{{ path('incidencia_index_trash', { 'id': incidencium.i_id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{%if incidencium[0].eliminado == true%} Restaurar{%else%} Borrar{%endif%} </a>
        </li>
        <li>
            <a  href="{{ path('incidencia_index_resolve', { 'id': incidencium.i_id }) }}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>{%if incidencium[0].resuelta == true%} Activar{%else%} Resolver{%endif%}</a>
        </li>
    </ul>
</div>