<div class="btn-group">
    <a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
    <a href="#" class="btn btn-default btn-xs sdropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a  href="{{ path('aviso_show', { 'id': aviso.id }) }}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Detalles</a>
        </li>
        <li>
            <a  href="{{ path('aviso_edit', { 'id': aviso.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a>
        </li>        
        <li>
            <a  href="{{ path('aviso_index_trash', { 'id': aviso.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{%if aviso.eliminado == true%} Restaurar{%else%} Borrar{%endif%} </a>
        </li>
        <li>
            <a  href="{{ path('aviso_index_resolve', { 'id': aviso.id }) }}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>{%if aviso.marcada == true%} Activar{%else%} Resolver{%endif%}</a>
        </li>
        {% if  aviso.incidenciaId %}
            <li>
                <a   href="{{ path('incidencia_show', {'id':  aviso.incidenciaId.id }) }}"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Ver incidencia</a>
            </li>
        {% endif %}
    </ul>
</div>