<div class="btn-group">
    <a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
    <a href="#" class="btn btn-default btn-xs sdropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a  href="{{ path('tarea_show', { 'id': tarea.id }) }}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Detalles</a>
        </li>
        <li>
            <a  href="{{ path('tarea_edit', { 'id': tarea.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a>
        </li> 
        <li>
            <a  href="{{ path('tarea_index_mark', { 'id': tarea.id }) }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{%if tarea.marcada == true%} Desmarcar{%else%} Marcar{%endif%}</a>
        </li>
        <li>
            <a  href="{{ path('tarea_index_trash', { 'id': tarea.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{%if tarea.eliminado == true%} Restaurar{%else%} Borrar{%endif%} </a>
        </li>
        <li>
            <a  href="{{ path('tarea_index_resolve', { 'id': tarea.id }) }}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>{%if tarea.realizada == true%} Activar{%else%} Resolver{%endif%}</a>
        </li>
        {% if  tarea.incidenciaId %}
            <li>
                <a   href="{{ path('incidencia_show', {'id':  tarea.incidenciaId }) }}"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Ver incidencia</a>
            </li>
        {% endif %}
    </ul>
</div>