<div id="dlg" title="Crear/Editar Incidencias" >
    {{ form_start(formI) }}
    <div class="ui-grid ui-grid-responsive">
         <div class="ui-grid-row">
           
            <div class="ui-grid-col-3">{{ form_widget(formI.crear) }}</div>   
            <div class="ui-grid-col-1"><a href="#">Volver</a></div>   
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formI.breve) }}</label>
                {{ form_errors(formI.breve) }}

            </div>
            <div class="ui-grid-col-10">{{ form_widget(formI.breve) }}</div>  
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formI.expediente) }}</label>
                {{ form_errors(formI.expediente) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formI.expediente) }}</div>   
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formI.comunidadId) }}</label>
                {{ form_errors(formI.comunidadId) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formI.comunidadId) }}</div>  
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formI.fechaIncidencia) }}</label>
                {{ form_errors(formI.fechaIncidencia) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formI.fechaIncidencia) }}</div>   
            
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formI.nombrePersona) }}</label>
                {{ form_errors(formI.nombrePersona) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formI.nombrePersona) }}</div>   
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formI.origen) }}</label>
                {{ form_errors(formI.origen) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formI.origen) }}</div>   
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formI.atencion) }}</label>
                {{ form_errors(formI.atencion) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formI.atencion) }}</div>   
             <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formI.resuelta) }}</label>
                {{ form_errors(formI.resuelta) }}

            </div>
            <div class="ui-grid-col-4">{{ form_widget(formI.resuelta) }}</div>   
        </div>
        


        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="nombre">{{ form_label(formI.descripcion) }}</label>
                {{ form_errors(formI.descripcion) }}

            </div>
            <div class="ui-grid-col-10">{{ form_widget(formI.descripcion) }}</div>   
        </div>
     
        
       
        




    </div>
    {{ form_end(formI) }}
</div>






