{% set lastAvisos = app.session.get('Avisos') %}





<div  id="avisosList" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Avisos 
        <div class="btn-group pull-right" role="group" aria-label="...">
            <a  class="btn btn-info btn-xs" href="{{ path('aviso_new') }}"><span class="glyphicon glyphicon-plus " aria-hidden="true"> </span> </a>  
            <a  class="btn btn-primary btn-xs" href="{{ path('aviso_refresh') }}"><span class="glyphicon glyphicon-refresh " aria-hidden="true"></span> </a></div>
    </div>
    <div class="panel-body">
        <div class="panel-group" id="accordionAvisos" role="tablist" aria-multiselectable="true">
            {%for aviso in lastAvisos %}
                <div class="panel {{forms.panelClass(aviso.prioridad)}}">
                    <div class="panel-heading" role="tab" id="heading{{loop.index}}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordionAvisos" href="#collapseAvisos{{loop.index}}" aria-expanded="true" aria-controls="collapseAvisos{{loop.index}}">
                                <span class="glyphicon glyphicon-calendar " aria-hidden="true"> </span> {{aviso.fechaAviso|date('Y-m-d')}}  {{aviso.nombre|truncate(40)}}                    </a>
                        </h4>
                    </div>
                    <div id="collapseAvisos{{loop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAvisos{{loop.index}}">
                        <div class="panel-body">
                            <p> {{aviso.nombre}}</p>
                            <p> {{aviso.fechaAviso|date('Y-m-d')}}</p>
                            <p>{{aviso.descripcion}}</p>
                            <div class="btn-group" style="margin-right: 15px" role="group" aria-label="...">
                                <a  class="btn btn-info btn-xs" href="{{ path('aviso_edit', { 'id': aviso.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
                                <a  class="btn btn-danger btn-xs" href="{{ path('aviso_index_trash', { 'id': aviso.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a>
                                <a  class="btn btn-warning btn-xs" href="{{ path('aviso_index_resolve', { 'id': aviso.id }) }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
</div>