<nav class="navbar navbar-default navbar-fixed-top">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">Menu</a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">                                       
                                        <li><a  href="{{ path('incidencia_index') }}"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Incidencias</a></li>
                                        <li> <a href="{{ path('comunidad_index') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Comunidades</a></li>
                                        <li> <a href="{{ path('persona_index') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Personas</a></li>
                                        <li> <a href="{{ path('tarea_index') }}"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Tareas</a></li>
                                        <li> <a href="{{ path('aviso_index') }}"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Avisos</a></li>
                                        <!--<li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Crear</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#">One more separated link</a></li>
                                            </ul>
                                        </li>-->
                                    </ul>

                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Profile <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                 <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver</a></li>
                                                <li><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Salir</a></li>

                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>