{# empty Twig template #}
<div class="btn-group" role="group" aria-label="...">
    <a  class="btn btn-success btn-sm" href="{{ path('incidencia_new') }}"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Incidencia</a>
    <a  class="btn btn-warning btn-sm" href="{{ path('comunidad_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Comunidad</a>
    <a  class="btn btn-primary btn-sm" href="{{ path('persona_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Persona</a> 
    <a  class="btn btn-info btn-sm" href="{{ path('tarea_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Tarea</a> 
    <a  class="btn btn-danger btn-sm" href="{{ path('aviso_new') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Aviso</a> 
</div>
