{% set lastTareas = app.session.get('Tareas') %}
<div  id="" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"> Tareas
        <div class="btn-group pull-right" role="group" aria-label="...">
            <a  class="btn btn-info btn-xs" href="{{ path('tarea_new') }}"><span class="glyphicon glyphicon-plus " aria-hidden="true"> </span> </a>  
            <a  class="btn btn-primary btn-xs" href="{{ path('aviso_refresh') }}"><span class="glyphicon glyphicon-refresh " aria-hidden="true"> </span> </a>

        </div>
    </div>
    <div class="panel-body">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {%for tarea in lastTareas %}
                <div class="panel {{forms.panelClass(tarea.prioridad, tarea.marcada)}}">
                    <div class="panel-heading" role="tab" id="heading{{loop.index}}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                               <span class="glyphicon glyphicon-calendar " aria-hidden="true"> </span>  {{tarea.fechaTarea|date('Y-m-d')}}  {{tarea.nombre|truncate(40)}}                    </a>
                        </h4>
                    </div>
                    <div id="collapse{{loop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{loop.index}}">
                        <div class="panel-body">
                            <p> {{tarea.nombre}}</p>
                            <p><span class="glyphicon glyphicon-calendar " aria-hidden="true"> </span>  {{tarea.fechaTarea|date('Y-m-d')}}</p>
                            <p>{{tarea.descripcion}}</p>
                            <div class="btn-group" style="margin-right: 15px" role="group" aria-label="...">
                                <a  class="btn btn-info btn-xs" href="{{ path('tarea_edit', { 'id': tarea.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
                                <a  class="btn btn-danger btn-xs" href="{{ path('tarea_index_trash', { 'id': tarea.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a>
                                <a  class="btn btn-warning btn-xs" href="{{ path('tarea_index_resolve', { 'id': tarea.id }) }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
</div>




