/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-oct-2016, 17:47:20
    Author     : Ser
*/
body { padding-top: 70px; }

.idClass {
    width: 50px !important;
}
.breveClass {
    width: 40%;
}
.ui-datepicker table {
    width: 100% !important;
}

table.dataTable tbody tr {
    background-color: transparent;
}
table {
    font-size: 0.8em;
}
#incidenciasTable_length, #incidenciasTable_info, #comunidadTable_length, #comunidadTable_info, #personaTable_length, #personaTable_info {
    margin-left: 10px;
}
#incidenciasTable_filter, #incidenciasTable_paginate, #comunidadTable_filter, #comunidadTable_paginate, #personaTable_filter, #personaTable_paginate {
    margin-right: 10px;
}

#accordion p, #accordion a, #accordionAvisos p, #accordionAvisos a {
    font-size: 0.7em;
    
}

.ui-widget-header {
    color: #000;
}

