{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="col-sm-offset-4 col-sm-4" style="margin-top: 150px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Ingresar en el sistema</h3>
        </div>
        <div class="panel-body">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <a class="btn btn-warning" href="{{ path('fos_user_security_logout') }}">
                    Desconectar
                </a>
            {% else %}

            {% endif %}

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}   
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="_password" required="required" />


                <div class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" class="" id="remember_me" name="_remember_me" value="on" />    
                        Recuérdame
                    </label>
                </div>
                <input type="submit" class="btn btn-success" id="_submit" name="_submit" value="Ingresar" />
            </form>
        </div>
    </div>
</div>