{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Editar Incidencia</div>
        <div class="panel-body">            



            {{form_start(edit_form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary"  type="submit" value="Edit" />
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.nombre, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.nombre,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.nombre) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.direccion, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.direccion,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.direccion) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.nota, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.nota,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.nota) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.comunidadId, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.comunidadId,{'attr': {'class': 'form-control remote'}}) }}
                    {{ form_errors(edit_form.comunidadId) }}
                </div>
            </div>

        </div>



        {{ form_end(edit_form) }}

        {{ form_start(delete_form) }}
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default" href="{{ path('persona_index') }}">Back to the list</a>
            <input  class="btn btn-warning" type="submit" value="Delete">
        </div>
        {{ form_end(delete_form) }}
    </div>


{% endblock %}

{%block  javascripts %} 
    {{parent()}}

    <script>
        $('.remote').autocomplete({
            source: function (request, response) {
                //in a real application, make a call to a remote url by passing the request.query as parameter
                $.ajax({
                    type: "GET",
                    url: '/api-inc/web/app_dev.php/api/comunidades',
                    data: {query: request.term},
                    dataType: "json",
                    context: this,
                    success: function (data) {
                        var filtered = [];
                        for (var i = 0; i < data.length; i++) {
                            nombre = data[i].c_nombre;
                            if (nombre.indexOf(request.term.toUpperCase()) === 0) {
                                filtered.push(nombre);
                            }
                        }
                        response(filtered);
                    }
                });
            }
        });

    </script>
{%endblock%}
