{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"> 
            <div class="pull-right"><h4>Personas</h4></div>
                       {%include 'default/partials/menucenter.html.twig'%}

        </div>
        <div class="panel-body">            
        </div>  

        <table id="personaTable" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Nota</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                    <tr>
                        <td><a href="{{ path('persona_show', { 'id': persona.id }) }}">{{ persona.id }}</a></td>
                        <td>{{ persona.nombre }}</td>
                        <td>{{ persona.direccion }}</td>
                        <td>{{ persona.nota }}</td>
                        <td style="width: 15%">
                            <div class="btn-group">
                                <a href="#" class="btn btn-default btn-sm">Acciones</a>
                                <a href="#" class="btn btn-default btn-sm sdropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('persona_show', { 'id': persona.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('persona_edit', { 'id': persona.id }) }}">edit</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            $('#personaTable').DataTable();
        });
    </script>


{% endblock %}