{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Nueva Persona</div>
        <div class="panel-body">            



            {{form_start(form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary"  type="submit" value="Edit" />
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.nombre, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.nombre,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.nombre) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.direccion, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.direccion,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.direccion) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.nota, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.nota,{'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.nota) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.comunidadId, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.comunidadId,{'attr': {'class': 'form-control remote'}}) }}
                    {{ form_errors(form.comunidadId) }}
                </div>
            </div>
            
        </div>
    </div>


    {{ form_end(form) }} 


</div>
</div>

{% endblock %}

{%block  javascripts %} 
    {{parent()}}

    <script>       
        $('.remote').autocomplete({
            source: function (request, response) {
                //in a real application, make a call to a remote url by passing the request.query as parameter
                $.ajax({
                    type: "GET",
                    url: '/api-inc/web/app_dev.php/api/comunidades',
                    data: {query: request.term},
                    dataType: "json",
                    context: this,
                    success: function (data) {
                        var filtered = [];
                        for (var i = 0; i < data.length; i++) {
                            nombre = data[i].c_nombre;
                            if (nombre.indexOf(request.term.toUpperCase()) === 0) {
                                filtered.push(nombre);
                            }
                        }
                        response(filtered);
                    }
                });
            }
        });

    </script>
{%endblock%}
