{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Persona</div>
        <div class="panel-body">    


            <table class="table">


                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ persona.id }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ persona.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Direccion</th>
                        <td>{{ persona.direccion }}</td>
                    </tr>
                    <tr>
                        <th>Marcada</th>
                        <td>{% if persona.marcada %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Nota</th>
                        <td>{{ persona.nota }}</td>
                    </tr>
                    <tr>
                        <th>Fechacreacion</th>
                        <td>{% if persona.fechaCreacion %}{{ persona.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechamodificacion</th>
                        <td>{% if persona.fechaModificacion %}{{ persona.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>

            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" href="{{ path('persona_index') }}">Back to the list</a>
                <a class="btn btn-primary" href="{{ path('persona_edit', { 'id': persona.id }) }}">Edit</a>
                <input class="btn btn-warning" type="submit" value="Delete">
            </div>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}
