{% extends 'base.html.twig' %}
{% import "default/components/forms.html.twig" as forms %}


{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Añadir Seguimiento</div>
        <div class="panel-body">            



            {{form_start(edit_form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary"  type="submit" value="Añadir" />
                </div>
            </div>


            {{forms.input(edit_form.descripcion, "textarea")}}                
            {{forms.input(edit_form.fechaSeguimiento, "date")}}   
        </div>



        {{ form_end(edit_form) }}
        <div class="panel-footer">


        </div>
    </div>

{% endblock %}


{%block  javascripts %} 
    {{parent()}}

    <script>


        $(".js-datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd"
        });


    </script>
{%endblock%}

