{% extends 'base.html.twig' %}
{% import "default/components/forms.html.twig" as forms %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"></a>  Editar Incidencia {%if incidencium.marcada == true%}<span class="badge pull-right"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>{%endif%}{%if incidencium.eliminado == true%}<span class="badge pull-right"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></span>{%endif%}{%if incidencium.resuelta == true%}<span class="badge pull-right"> <span class="glyphicon glyphicon-check" aria-hidden="true"></span></span>{%endif%}</div>
        <div class="panel-body">            



            {{form_start(edit_form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info">
                        <span class="glyphicon glyphicon-edit"></span> Editar
                    </button>
                    <a  class="btn btn-primary"  href="{{ path('incidencia_index_mark', { 'id': incidencium.id }) }}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>{%if incidencium.marcada == true%} Desmarcar{%else%} Marcar{%endif%}</a>     
                    <a  class="btn btn-danger"  href="{{ path('incidencia_index_trash', { 'id': incidencium.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{%if incidencium.eliminado == true%} Restaurar{%else%} Borrar{%endif%} </a>
                    <a  class="btn btn-success"  href="{{ path('incidencia_index_resolve', { 'id': incidencium.id }) }}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>{%if incidencium.resuelta == true%} Activar{%else%} Resolver{%endif%}</a>
                    <a class="btn btn-warning" href="{{ path('incidencia_index') }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Back to the list</a>

                </div>
            </div>

            {{forms.input(edit_form.breve)}}
            {{forms.input(edit_form.origen)}}
            {{forms.input(edit_form.nombrePersona)}}
            {{forms.input(edit_form.expediente)}}
            {{forms.input(edit_form.descripcion, "textarea")}}
            {{forms.input(edit_form.atencion)}}
            {{forms.input(edit_form.prioridad)}}
            {{forms.input(edit_form.fechaIncidencia, "date")}}
            {{forms.input(edit_form.comunidadId,'input',"remote")}}




            <div id="actions" data-prototype="{{ _self.widget_prototype(edit_form.telefonos, 'Remove action')|escape }}">
                {% for widget in edit_form.telefonos.children %}
                    {{ _self.widget_prototype(widget, 'Remove action') }}
                {% endfor %}
            </div>
            <div class="col-sm-2">
                <a id="add-action" class="btn btn-info" data-target="actions">Añadir Teléfono</a>
            </div>
        </div>



        {{ form_end(edit_form) }}
        <div class="panel-footer">
            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
                <input  class="btn btn-danger" type="submit" value="Borrar completamente" onclick="return confirm('Seguro que quieres borrar definitivamente el registro');
                        return false;">
            </div>
            {{ form_end(delete_form) }}

        </div>
    </div>

{% endblock %}

{% macro widget_prototype(widget, remove_text) %}
    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div class="form-group" data-content="{{ name }}" >
        {{ form_label(form.telefono, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-3">

            {{ form_widget(form.telefono,{'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.telefono)}}
        </div>
        <div class="col-sm-4">
            <a class="btn btn-danger" data-related="{{ name }}">{{ remove_text }}</a>
        </div>


    </div>
{% endmacro %}

{%block  javascripts %} 
    {{parent()}}

    <script>
        $('#add-action').click(function (event) {
            var collectionHolder = $('#' + $(this).attr('data-target'));
            var prototype = collectionHolder.attr('data-prototype');
            var form = prototype.replace(/__name__/g, collectionHolder.children().length);

            collectionHolder.append(form);

            return false;
        });
        $('#actions').on('click', '.btn-danger', function (event) {
            var name = $(this).attr('data-related');
            $('*[data-content="' + name + '"]').remove();

            return false;
        });


        $(".js-datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd"
        });
        $('.remote').autocomplete({
            source: function (request, response) {
                //in a real application, make a call to a remote url by passing the request.query as parameter
                $.ajax({
                    type: "GET",
                    url: '/api-inc/web/app_dev.php/api/comunidades',
                    data: {query: request.term},
                    dataType: "json",
                    context: this,
                    success: function (data) {
                        var filtered = [];
                        for (var i = 0; i < data.length; i++) {
                            nombre = data[i].c_nombre;
                            if (nombre.indexOf(request.term.toUpperCase()) === 0) {
                                filtered.push(nombre);
                            }
                        }
                        response(filtered);
                    }
                });
            }
        });

    </script>

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
{%endblock%}
