{% extends 'base.html.twig' %}
{% import "default/components/forms.html.twig" as forms %}

{% block center %}
    {{parent()}}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"> 
            <div class="pull-right"><h4>Incidencias</h4></div>
            {%include 'default/partials/menucenter.html.twig'%}
            <div class="pull-right btn-group" style="margin-right: 15px" role="group" aria-label="...">
                <a  class="btn btn-info btn-sm" href="{{ path('incidencia_index') }}"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> </a>
                <a  class="btn btn-danger btn-sm" href="{{ path('incidencia_index_deleted') }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a>
                <a  class="btn btn-warning btn-sm" href="{{ path('incidencia_index_resolved') }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </a>

            </div>
        </div>
        <div class="panel-body">            
        </div>  
        <div class="table-responsive">
            <table id="incidenciasTable" class="table compact display">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th >Actions</th>
                        <th style="display:none">Persona</th>
                        <th style="display:none">Nombre Persona</th>

                        <th >Comunidad</th>
                        <th >Breve</th>
                        <th >Expediente</th>
                        <th >Teléfonos</th>
                        <th style="display:none">Descripcion</th>
                        <th >Fecha</th>

                    </tr>
                </thead>
                <tbody>
                    {% for incidencium in incidencias %}
                        {{forms.rowTableStyle(incidencium[0].prioridad,incidencium[0].marcada )}}


                    <td style="width: 5%"><a href="{{ path('incidencia_show', { 'id': incidencium.i_id }) }}">{{ incidencium.i_id }}</a></td>
                    <td style="width: 10%">
                        {%include 'default/partials/dropdownIncidencia.html.twig'%}
                    </td>
                    <td style="display:none">{{ incidencium.p_nombre}}</td>
                    <td style="display:none">{{ incidencium[0].nombrePersona}}</td>
                    <td style="width: 10%">{{ incidencium.c_nombre}}</td>

                    <td style="width: 40%">{{ incidencium[0].breve }}</td>
                    <td style="width: 10%">{{ incidencium[0].expediente }}</td>
                    <td style="width: 15%">
                        {% for telefono in incidencium[0].telefonos %}
                            {{ telefono.telefono|e }}
                        {% endfor %}

                    </td>
                    <td style="display:none">{{ incidencium[0].descripcion }}</td>
                    <td style="width: 10%">{% if incidencium[0].fechaIncidencia %}{{ incidencium[0].fechaIncidencia|date('Y-m-d') }}{% endif %}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>   
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            $('#incidenciasTable').DataTable({
                "scrollY": "600px",
                "scrollCollapse": true,
                "order": [[ 9, "desc" ]]
            });
        });
    </script>


{% endblock %}


