{% extends 'base.html.twig' %}
{% import "default/components/forms.html.twig" as forms %}



{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Nueva Incidencia</div>
        <div class="panel-body">       

            {{form_start(form,  {'attr': {'class': 'form-horizontal' }}) }}
            <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <div class="btn-group" role="group" aria-label="...">
                        <input class="btn btn-primary"  type="submit" value="Crear" />
                        <a class="btn btn-default" href="{{ path('incidencia_index') }}">Back to the list</a>

                    </div>
                </div>
            </div>
            {{forms.input(form.breve)}}
            {{forms.input(form.origen)}}
            {{forms.input(form.nombrePersona)}}
            {{forms.input(form.expediente)}}
            {{forms.input(form.descripcion, "textarea")}}
            {{forms.input(form.atencion)}}
            {{forms.input(form.prioridad)}}
            {{forms.input(form.resuelta, "check")}}
            {{forms.input(form.fechaIncidencia, "date")}}
            {{forms.input(form.comunidadId,'input',"remote")}}



            <div id="actions" data-prototype="{{ _self.widget_prototype(form.telefonos, 'Remove action')|escape }}">
                {% for widget in form.telefonos.children %}
                    {{ _self.widget_prototype(widget, 'Remove action') }}
                {% endfor %}
            </div>
            <div class="col-sm-2">
                <a id="add-action" class="btn btn-info" data-target="actions">Añadir Teléfono</a>
            </div>

        </div>



        {{ form_end(form) }}
    </div>
{% endblock %}


{% macro widget_prototype(widget, remove_text) %}
    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div class="form-group" data-content="{{ name }}" >
        {{ form_label(form.telefono, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-3">

            {{ form_widget(form.telefono,{'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.telefono)}}
        </div>
        <div class="col-sm-4">
            <a class="btn btn-danger" data-related="{{ name }}">{{ remove_text }}</a>
        </div>


    </div>
{% endmacro %}

{%block  javascripts %} 
    {{parent()}}

    <script>
        $('#add-action').click(function (event) {
            var collectionHolder = $('#' + $(this).attr('data-target'));
            var prototype = collectionHolder.attr('data-prototype');
            var form = prototype.replace(/__name__/g, collectionHolder.children().length);

            collectionHolder.append(form);

            return false;
        });
        $('#actions').on('click', '.btn-danger', function (event) {
            var name = $(this).attr('data-related');
            $('*[data-content="' + name + '"]').remove();

            return false;
        });



        $(".js-datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd"
        });
        $('.remote').autocomplete({
            source: function (request, response) {
                //in a real application, make a call to a remote url by passing the request.query as parameter
                $.ajax({
                    type: "GET",
                    url: '/api-inc/web/app_dev.php/api/comunidades',
                    data: {query: request.term},
                    dataType: "json",
                    context: this,
                    success: function (data) {
                        var filtered = [];
                        for (var i = 0; i < data.length; i++) {
                            nombre = data[i].c_nombre;
                            if (nombre.indexOf(request.term.toUpperCase()) === 0) {
                                filtered.push(nombre);
                            }
                        }
                        response(filtered);
                    }
                });
            }
        });

    </script>
     <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
{%endblock%}


