{% extends 'base.html.twig' %}

{% block center %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Incidencia</div>
        <div class="panel-body">    


            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ incidencium.id }}</td>
                    </tr>
                    <tr>
                        <th>Origen</th>
                        <td>{{ incidencium.origen }}</td>
                    </tr>
                    <tr>
                        <th>Nombrepersona</th>
                        <td>{{ incidencium.nombrePersona }}</td>
                    </tr>
                    <tr>
                        <th>Breve</th>
                        <td>{{ incidencium.breve }}</td>
                    </tr>
                    <tr>
                        <th>Expediente</th>
                        <td>{{ incidencium.expediente }}</td>
                    </tr>
                    <tr>
                        <th>Descripcion</th>
                        <td>{{ incidencium.descripcion|raw }}</td>
                    </tr>
                    <tr>
                        <th>Atencion</th>
                        <td>{{ incidencium.atencion }}</td>
                    </tr>
                    <tr>
                        <th>Prioridad</th>
                        <td>{{ incidencium.prioridad }}</td>
                    </tr>
                    <tr>
                        <th>Resuelta</th>
                        <td>{% if incidencium.resuelta %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Marcada</th>
                        <td>{% if incidencium.marcada %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Eliminado</th>
                        <td>{% if incidencium.eliminado %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    {% if telefonos is not empty %}
                        <tr>
                            <th>Teléfonos</th>
                            <td>
                                {% for telefono in telefonos %}
                                    {{ telefono.telefono|e }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Eliminado</th>
                        <td>{% if incidencium.eliminado %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechacreacion</th>
                        <td>{% if incidencium.fechaCreacion %}{{ incidencium.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechamodificacion</th>
                        <td>{% if incidencium.fechaModificacion %}{{ incidencium.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechaincidencia</th>
                        <td>{% if incidencium.fechaIncidencia %}{{ incidencium.fechaIncidencia|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fecharesolucion</th>
                        <td>{% if incidencium.fechaResolucion %}{{ incidencium.fechaResolucion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Segimientos </a>


                    <div class="btn-group pull-right" style="margin-right: 15px" role="group" aria-label="...">
                        <a  class="btn btn-info btn-xs" href="{{ path('incidencia_add_seguimiento', {'id': incidencium.id}) }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
                    </div></div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {%for seguimiento in seguimientos%}


                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="pull-right">
                                        <form action="{{ path('seguimiento_delete', { 'id': seguimiento.id }) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE" />
                                            {{ form_widget(deleteSeguimientoForm[seguimiento.id]) }}
                                            <div class="btn-group" role="group" aria-label="...">
                                                <a  class="btn btn-info btn-xs" href="{{ path('seguimiento_edit', { 'id': seguimiento.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
                                                <button class="btn btn-danger btn-xs" type="submit" class="btn btn-small">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </div>

                                        </form>
                                    </div>
                                    <h5 class="list-group-item-heading">{{seguimiento.fechaSeguimiento|date('Y-m-d')}}  </h5>
                                    <p class="list-group-item-text">{{seguimiento.descripcion}}</p>

                                </li>
                            </ul>



                        {%endfor%}
                    </div>
                </div>
            </div>


            {{ form_start(delete_form) }}
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" href="{{ path('incidencia_index') }}">Back to the list</a>
                <a class="btn btn-primary" href="{{ path('incidencia_edit', { 'id': incidencium.id }) }}">Edit</a>
                <input class="btn btn-warning" type="submit" value="Delete">
            </div>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}
