{% macro input(widget, type = "input", widget_class ="", size = "300px", column_1 = "col-sm-2", column_2 = "col-sm-10", label_class ="",  widget_style ="" )%}
    {%if type == "input"  %}
        {% set _label_class = "control-label " ~ column_1 ~ label_class %}
        {% set _widget_class = "form-control " ~ column_1 ~ " " ~ widget_class %}
        {% set _widget_style = widget_style %}
    {%elseif type == "date" %}
        {% set _label_class = "control-label " ~ column_1 ~ label_class %}
        {% set _widget_class = "form-control js-datepicker " ~ column_1 ~ " " ~ widget_class %}
        {% set _widget_style = widget_style %}
    {%elseif type == "check" %}
        {% set _widget_style = widget_style %}
        {% set _label_class = "control-label " ~ column_1 ~ label_class %}
        {% set _widget_class = column_1 ~ " " ~ widget_class  %}
    {%elseif type == "textarea" %}
        {% set _widget_style = "height: " ~ size ~ " " ~ widget_style %}
        {% set _label_class = "control-label " ~ column_1 ~ label_class %}
        {% set _widget_class = "form-control " ~ column_1 ~ " " ~ widget_class %}
    {%endif%}

    <div class="form-group">
        {{ form_label(widget, null,{'label_attr': {'class': _label_class}}) }}
        <div class="{{column_2}}">
            {{ form_widget(widget,{'attr': {'class':  _widget_class, 'style': _widget_style }}) }}
            {{ form_errors(widget) }}
        </div>
    </div>
{% endmacro %}

{% macro rowTableStyle(number, marcada = false) %}
    {%if marcada == true and marcada is defined %}
        <tr class="danger">     
        {%else%}       
            {%if number < 3  %}
            <tr class="active">        
            {%elseif number == 3 %}
            <tr class="success">
            {%elseif number == 4 %}        
            <tr class="info"> 
            {%elseif number >= 5 %}        
            <tr class="warning">    
            {%endif%}
        {%endif%}
    {% endmacro %}

    {% macro listClass(number, marcada = false) %}
        {%if marcada == true %}
            {% set listClass = "list-group-item-danger" %}  
            {{listClass}}
        {%else%}       
            {%if number < 3  %}
                {% set listClass = "" %}  
                {{listClass}}
            {%elseif number == 3 %}
                {% set listClass = "list-group-item-success" %}  
                {{listClass}}
            {%elseif number == 4 %}        
                {% set listClass = "list-group-item-info" %} 
                {{listClass}}
            {%elseif number >= 5 %}        
                {% set listClass = " list-group-item-danger" %}  
                {{listClass}}
            {%endif%}
        {%endif%}
    {% endmacro %}
    {% macro panelClass(number, marcada = false) %}
        {%if marcada == true %}
            {% set panelClass = "panel-danger" %}  
            {{panelClass}}
        {%else%}       
            {%if number < 3  %}
                {% set panelClass = "panel-default" %}  
                {{panelClass}}
            {%elseif number == 3 %}
                {% set panelClass = "panel-success" %}  
                {{panelClass}}

            {%elseif number == 4 %}        
                {% set panelClass = "panel-info" %} 
                {{panelClass}}

            {%elseif number >= 5 %}        
                {% set panelClass = "panel-warning" %} 
                {{panelClass}}

            {%endif%}
        {%endif%}
    {% endmacro %}


